@page "/"

<h1 class="page-title">Bienvenido a Bethany's Pie Shop HRM!</h1>
<br />
<h3>
   ¡ Utilizando esta aplicación, puedes manejar nuestro maravilloso staff trabajando para nosotros por todo el mundo,
    llevando a las personas los mejores Pies!
</h3>
<ProfilePicture></ProfilePicture>